@model WorkoutTracker.Models.Workout

@{
    ViewBag.Title = "Remove Workout";
}

<h1>Remove a Workout</h1>

<p>Are you sure you would like to delete this workout?  Please check box below and submit.</p>

<div class="form-group">
    <form method="post">
        <input type="checkbox" name="workoutID" id="@Model.ID" value="@Model.ID" />
        <label for=" @Model.ID">Remove My Workout</label>

        <br />

        <div class="form-group">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
<br />
<div>
    <a asp-controller="Workout" asp-action="Index">Go Back</a>
</div>