@model WorkoutTracker.Models.Workout

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <br />
        <h1 class="display-4">Hello, @User.Identity.Name!</h1>
        <br />
        <p>Below you can view all data gathered from workouts you have already taken.</p>
        <a asp-controller="Workout" asp-action="Index">View My Workouts</a>
    </div>

<br />
        <!--TODO: add workout data for user on this page (see Trello user story)-->
    <div>
            <table width="100%">
                <tr>
                    <th>Total Workouts</th>
                    <th>Calories Burned</th>
                    <th>Class Types</th>
                    <th>Locations</th>
                    <th>Instructors</th>
                    <th>Has Been Liked</th>
                </tr>

                <tr>
                    <td>@ViewBag.Workouts.Count</td>
                    <td>
                        Total:
                        @{
                            int sum = 0;
                            foreach (Workout workout in ViewBag.Workouts)
                            {
                                sum += workout.CaloriesBurned;
                            }
                        }
                        @sum.ToString()
                    </td>
                    <td>@ViewBag.ClassTypesGrouped</td>
                </tr>
            </table>
    </div>