@model WorkoutTracker.Models.Instructor

@{
    ViewBag.Title = "Remove Instructor";
}

<h1>Remove an Instructor</h1>

<p>Are you sure you would like to delete this instructor?  Please check box below and submit.</p>

<form method="post">
        <input type="checkbox" name="instructorID" id="@Model.ID" value="@Model.ID" />
        <label for=" @Model.ID">@Model.Name</label>
        <br />

    <input type="submit" value="Submit" />
</form>