@model List<WorkoutTracker.Models.ClassType>

@{
    ViewBag.Title = "Class Type";
}

<h2>Class Types</h2>

<table class="table">

    @if (Model.Count > 0)
    {
        <tr>
            <th><strong>Name</strong></th>
            <th></th>
        </tr>
    }

    @foreach (var classType in Model)
    {
        <tr>
            <td>@classType.Name</td>
            <td>
                <a asp-controller="ClassType" asp-action="Edit" asp-route-classTypeID="@classType.ID">Edit</a> |
                <a asp-controller="ClassType" asp-action="Remove" asp-route-classTypeID="@classType.ID">Remove</a>
            </td>
        </tr>
    }

</table>


@if (Model.Count == 0)
{
    <p>No class types yet!</p>
}

<div>
    <p><a asp-controller="ClassType" asp-action="Add">Add a Class Type</a></p>
</div>

<div>
    <form>
        <input type="button" value="Go Back" onclick="history.back()" />
    </form>
</div>